<!DOCTYPE html>
<html>
<head>
	<title>Shinny Hu</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/styles.css">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="css/bootstrap-social.css">
	<link rel="icon" href="img/favicon.png"/>

</head>
<body class="project">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">
	  	<img src="img/GithubImage.jpeg" width="30" height="30">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
	    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 nav-tabs">
	      <li class="nav-item">
	        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="#">Project</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="./blog.html">Blog</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="file/resume.pdf" target="_blank">Resume</a>
	      </li>
	    </ul>
	  </div>
	  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            	<a class="nav-link btn btn-social-icon" href="https://github.com/ShinnyHu" target="_blank">
	        		<span class="fab fa-github"></span>
	        	</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-social-icon" href="https://www.linkedin.com/in/xinyu-shinny-hu-062b0329/" target="_blank">
	        		<span class="fab fa-linkedin"></span>
	        	</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-social-icon" href="https://leetcode.com/shin_ny/" target="_blank">
	        		<i class="fas fa-code"></i>
	        	</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-social-icon" href="mailto:shinny.huxy@gmail.com">
	        		<i class="fas fa-envelope"></i>
	        	</a>
            </li>
        </ul>
      </div>
	</nav>

	<h1 class="pTitle">Project</h1>

	<div class="card-group pCard">
	  <div class="card bg-light mb-3">
	    <img class="card-img-top" src="img/Brogue.jpeg" alt="Card image cap">
	    <h5 class="card-header">Tile-based Game</h5>
	    <div class="card-body">
	      <p class="card-text">A brogue-like tile-based game from scratch using Java.</p>
	      <a href="https://github.com/ShinnyHu/CS61B/tree/master/proj2" class="btn btn-primary" target="_blank">Code</a>
	    </div>
	  </div>
	  <div class="card bg-light mb-3">
	    <img class="card-img-top" src="img/tour.jpeg" alt="Card image cap">
	    <h5 class="card-header">Touring Website</h5>
	    <div class="card-body">
	      <p class="card-text">My very first static website demo using bootstrap.</p>
	      <a href="https://shinnyhu.com/tour/" class="btn btn-primary" target="_blank">Website</a>
	    </div>
	  </div>
	  <div class="card bg-light mb-3">
	    <img class="card-img-top" src="img/lenovo.jpeg" alt="Card image cap">
	    <h5 class="card-header">Internship at Lenovo</h5>
	    <div class="card-body">
	      <p class="card-text">At Lenovo, I helped with HPC by applying Docker and TensorFlow. </p>
	      <a href="https://solutions.lenovo.com/data-center-solutions/high-performance-computing/" class="btn btn-primary" target="_blank">Website</a>
	    </div>
	  </div>
	</div>

	<h4 class="temp">To be continued...</h4>

	

</body>
</html>